<!-- TODOS
     -> Cocktail padding
     -> footer and header
-->

<h1 class="text-center">Cocktails</h1>

<div class="container">
  <% @cocktails.each do |cocktail| %>
    <div class="cocktail text-center">
      <%= link_to cocktail.name, cocktail_path(cocktail)%>
    </div>
    <br>
  <% end %>
</div>

<!-- Make this a footer -->
<div class="text-center">
  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>


