
  <div class="container">
    <h1 class="text-center header">Cocktails</h1>
    <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4 cocktail text-center padded">
          <%= link_to cocktail.name.upcase, cocktail_path(cocktail)%>
      </div>
    <% end %>
    </div>
    <div class="text-center padded links">
       <%= link_to "ADD A COCKTAIL", new_cocktail_path, class: "btn-impact" %>
    </div>
  </div>

