<h1 class="text-center header">Add a new Cocktail</h1>

<div class="container">
    <%= render "form" %>
</div>

<div class="text-center links">
  <%= link_to cocktails_path, class: "btn-back" do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
  <% end %>
</div>
